/* 购买按钮区域 */
.btn-container-collection {
    padding: 10px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn {
    width: 100px;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(155, 89, 182, 0.4);
}

.btn:hover::before {
    left: 100%;
}

.btn:active {
    transform: translateY(1px);
}
.pay{
    background-color: #008cff;
}
.collection{
    background-color: #FE5E08;
}