/* 在您的全局CSS文件中添加 */
:root {
    --bg-color: rgba(255, 255, 255, 0.7);
    --text-color: #333333;
    /* 其他亮色主题变量 */
  }
  [data-theme="dark"] {
    --bg-color: #7a7a7a;
    --text-color: #ffffff;
    /* 其他暗色主题变量 */
  }
